@import "../../../assets/scss/variables.scss";

.pricing {
    padding-bottom: 120px;

    @media (max-width: 1199px) {
        padding-bottom: 100px;
    }

    @media (max-width: 991px) {
        padding-bottom: 80px;
    }

    @media (max-width: 767px) {
        padding-bottom: 60px;
    }

    @media (max-width: 575px) {
        padding-bottom: 40px;
    }

    @media (max-width: 480px) {
        padding-bottom: 30px;
    }
}

.pricing_text {
    margin-top: 13px;
    max-width: 558px;

    p {
        line-height: 26px;
    }
}

.pricing_content {
    margin-top: 74px;

    @media (max-width: 1199px) {
        margin-top: 65px;
    }

    @media (max-width: 991px) {
        margin-top: 50px;
    }

    @media (max-width: 767px) {
        margin-top: 40px;
    }

    @media (max-width: 575px) {
        margin-top: 30px;
    }

    @media (max-width: 480px) {
        margin-top: 20px;
    }

    .pricing_box_wrapper {
        padding: 0px 73px 0px 50px;
        border-radius: 40px;
        position: relative;

        @media (max-width: 991px) {
            max-width: 600px;
            margin: 0 auto;
        }

        .pricing_name_price {
            @media (max-width: 420px) {
                flex-direction: column !important;
                gap: 0px !important;
            }
        }

        .arrowWrapper {
            position: absolute;
            top: 70px;
            right: 130px;
            transform: rotate(345deg);

            @media (max-width: 1200px) {
                top: 65px;
                right: 130px;

                img {
                    height: auto;
                }
            }

            @media (max-width: 1100px) {
                right: 120px;
                top: 50px;

                img {
                    width: calc(113px - 20px);
                }
            }

            @media (max-width: 991px) {
                right: 130px;
                top: 41px;
                transform: rotate(359deg);

                img {
                    width: calc(113px + 15px);
                }
            }

            @media (max-width: 767px) {
                top: 35px;
            }

            @media (max-width: 575px) {
                right: 100px;
                top: 30px;
            }

            @media (max-width: 480px) {
                right: 90px;

                img {
                    width: calc(113px - 15px);
                }
            }

            @media (max-width: 420px) {
                right: 50px;
                top: 97px;
                transform: scaleY(-1) rotate(50deg);

                img {
                    width: calc(113px + 5px);
                }
            }

            @media (max-width: 370px) {
                right: 25px;
                top: 105px;
                transform: scaleY(-1) rotate(55deg);

                img {
                    width: calc(113px - 5px);
                }
            }

            @media (max-width: 340px) {
                right: 15px;
                top: 105px;
                transform: scaleY(-1) rotate(55deg);

                img {
                    width: calc(113px - 15px);
                }
            }
        }

        .pricing_image_wrapper > div {
            position: relative;

            @media (max-width: 991px) {
                background-color: $primary-color;
                margin: 0 auto;
                padding-top: 0px;
                padding: 30px;
            }

            &::before,
            &::after {
                position: absolute;
                top: 40px;
                font-family: $primary-fonts;
                font-size: $text-medium;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;
                padding: 8px 18px;
                border-radius: 10px;
            }

            &::before {
                content: "before";
                left: 0;
                background-color: $white-color;
                color: $black-color;
            }

            &::after {
                content: "after";
                right: 0;
                background-color: $primary-color;
                color: $white-color;
            }
        }

        @media (max-width: 1199px) {
            padding: 0px 30px;
        }

        @media (max-width: 991px) {
            padding: 40px;
        }

        @media (max-width: 767px) {
            padding: 30px;
            border-radius: 30px;
        }

        @media (max-width: 480px) {
            padding: 20px;
        }

        h2 {
            font-size: 58px;
            font-style: normal;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 22px;

            @media (max-width: 1200px) {
                font-size: 50px;
                margin-bottom: 18px;
            }

            @media (max-width: 991px) {
                font-size: 44px;
                margin-bottom: 18px;
            }

            @media (max-width: 768px) {
                font-size: 38px;
                margin-bottom: 18px;
            }

            @media (max-width: 575px) {
                font-size: 34px;
                margin-bottom: 15px;
            }

            @media (max-width: 480px) {
                font-size: 30pxpx;
                margin-bottom: 10px;
            }
        }

        h3 {
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: 50px;

            @media (max-width: 1200px) {
                font-size: 30px;
            }

            @media (max-width: 991px) {
                font-size: 28px;
            }

            @media (max-width: 768px) {
                font-size: 26px;
            }

            @media (max-width: 576px) {
                font-size: 24px;
            }
        }

        span {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
        }

        &.pro {
            background-color: $secondary-color;
            color: $white-color;

            h3 {
                span {
                    color: rgba(255, 255, 255, 0.8);
                }
            }

            .priceIcon {
                filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7481%)
                    hue-rotate(112deg) brightness(98%) contrast(98%);
            }
        }
    }

    .pricing_plan_details {
        margin-top: 25px;

        @media (max-width: 991px) {
            margin-top: 32px;
        }

        @media (max-width: 575px) {
            margin-top: 25px;
        }

        @media (max-width: 480px) {
            margin-top: 10px;
        }

        ul {
            row-gap: 30px;

            @media (max-width: 575px) {
                row-gap: 20px;
            }

            @media (max-width: 480px) {
                row-gap: 15px;
            }

            li {
                gap: 10px;

                span {
                    font-size: $text-medium !important;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                }
            }
        }
    }
}

.saleBadge {
    position: absolute;
    top: 30px;
    right: 30px;

    @media (max-width: 575px) {
        height: 65px;
        width: 65px;
        top: 20px;
        right: 20px;
    }

    .saleBadgeWrapper {
        position: relative;

        img {
            filter: brightness(0) saturate(100%) invert(82%) sepia(76%) saturate(1143%)
                hue-rotate(320deg) brightness(95%) contrast(96%) !important;
        }

        span {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $background-color;
        }
    }
}

.subscription_manage {
    .content {
        max-width: 856px;

        p,
        a {
            font-size: $text-medium;
            line-height: 30px;

            @media (max-width: 991px) {
                font-size: $text-small;
                line-height: 28px;
            }
        }

        p {
            &:last-child {
                display: inline-block;
                margin-top: 10px;
            }
        }

        a {
            color: $secondary-color;
            transition: $transition-1;

            &:hover {
                color: $accent-color;
            }
        }
    }
}
